/* Grundlayout */
body {
    font-family: "Times New Roman", Times, serif;
    display: flex;
    margin: 0;
    background-color: #F2E9E4;
}

/* Sidebar selbst */
.sidebar {
    width: 200px;
    background-color: #9a8c98;
    color: #ecf0f1;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow-y: auto;

}
.home-button {
    background-color: #9a8c98;
    border: none;
    padding: 10px 15px;
    color: #22223B;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
}

.home-button:hover {
    background-color: #f2e9e4;
}

/* Pop-up für Ordner */
.folder-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #9a8c98;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    border-radius: 8px;
}

.folder-popup input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
}

.folder-popup h3 {
    margin-top: 0;
    color: #22223B;
}

.folder-popup .popup-footer {
    text-align: right;
}

.folder-popup .popup-footer button {
    background-color: #544567;
    color: #22223B;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

/* Buttons oben rechts */
.top-right-buttons {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    z-index: 20;
}

.top-right-buttons button {
    background-color: #4a4e69;
    color: #ecf0f1;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.top-right-buttons button:hover {
    background-color: #9a8c98;
}


/* Hauptinhalt */
.main-content {
    margin-left: 270px;
    padding: 20px;
    flex-grow: 1;
}


.path {
    /*Aktueller Pfad*/
    font-size: 20px;
    color: #22223B;
    margin-bottom: 30px;
    /*Abstamd nach unten*/
}

/* Kasten(grid) damit man mehr hinzufügen kann */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.add-button,
.entry-footer {
    background-color: #C9ada7;
    border: 1px dashed #22223B;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.entry-footer .actions {/*Bearbeiten und löschen Platz*/
        text-align: right;
    }


.entry-footer .actions button {
    background-color: #4a4e69;
    color: #ecf0f1;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}

.entry-card h4 {
    /*von der Klasse entry card Name*/
    margin-top: 0;
    color: #000000;
}

.entry-card p {
    /*von der Klasse entry card Beschreibung*/
    margin: 5px 0;
    color: #000000;
}

.entry-card small {
    /*von der Klasse entry card Genre*/
    display: block;
    margin-top: 5px;
    color: #000000;
}


    .popup {
        /*wenn aus geklammert kann man den Pop-up sehen*/
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #F2E9E4;
        padding: 20px;
        width: 300px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        z-index: 10;
        border-radius: 8px;
    }

    .popup input,
    .popup textarea {
        width: 100%;
        margin-bottom: 10px;
        padding: 8px;
        font-size: 14px;
        border: 1px solid #bdc3c7;
        border-radius: 5px;
    }

    .popup h3 {
        margin-top: 0;
    } 
    .popup .stars {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    
    .popup .stars label {
        font-size: 1.5em;
        cursor: pointer;
    }

    .popup-footer {
        text-align: right;
    }

    .popup-footer button {
        background-color: #4a4e69;
        color: #ecf0f1;
        border: none;
        padding: 6px 10px;
        cursor: pointer;
        border-radius: 5px;
    }
   
    

/* Sterne */
.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    font-size: 1em;
    margin-top: 10px;
    /* Abstand nach oben */
}

.star-rating input[type="radio"] {
    display: none;
    /* Radio Buttons verstecken */
}

.star-rating label {
    color: #ddd;
    /* Unausgewählte Sterne*/
    cursor: pointer; /*Maus selbst*/
    font-size: 1.5em;
}

.star-rating input[type="radio"]:checked~label {
    color: #544567;
    /* Ausgewählte Sterne */
}

.star-rating label:hover,
.star-rating label:hover~label {
    color: #ccc4da;
    /* Sterne beim Hover farbig anzeigen */
}

/* Home-Button */
.home-button {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #22223B;
    text-decoration: none;
}